<h1 style="text-align:center;color:blue;">Dummy JSON</h1>
<br>
<div class="container-fluid">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">price</th>
        <th scope="col">category</th>
        <th scope="col">description</th>
        <th scope="col">address</th>
      </tr>
    </thead>
<tbody>
      <tr *ngFor="let user of allUser">
        <th scope="row">{{user.id}}</th>
        <td>{{user.title}}</td>
        <td>{{user.price}}</td>
        <td>{{user.category}}</td>
        <td>{{user.description}}</td>
        <td>{{user.address.city}}</td>

      </tr>
    </tbody>
  </table>     

</div>
<router-outlet></router-outlet>

<!-- json-server --watch db.json -->